.overlay_container {
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    backdrop-filter: blur(10px);
}
.animation_container {
    height: 300px;
    width: 300px;
}
.image_container {
    max-width: 100%;
    max-height: 100%;
}