.image_outer {
    position: relative;
    margin: 0 auto;
    width: clamp(75px, 60%, 175px);
}
.image_out:after {
    display: block;
    content: "";
    padding-bottom: 50%;
}
.image_inner {
    width: 100%;
    transform: scale(1.5);
}

@media screen and (min-width: 700px) {
    .image_outer {
        overflow: hidden;
    }
    .image_inner_right {
        transform: translateX(25%) translateY(25%) scale(1.5);
    }
    .image_inner_left {
        transform: translateX(-25%) translateY(25%) scale(1.5);
    }
}