.story_list_container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-margin: 300px;
    flex-grow: 1;
}
.story_list_container::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 700px) {
    .story_list_container {
        scroll-margin: 0;
    }
}