.profile_container {
    display: flex;
    flex-direction: column;
    background: lightskyblue;
    gap: 25px;
}
.bio_container {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bio_text_container {
    flex: 1;
}
@media screen and (min-width: 700px) {
    .profile_container {
        flex-direction: row;
    }
}