.animation {
    transition: 0.3s all ease-out;
}
.scroll_handler {
    width: clamp(310px, 100%, 1000px);
    margin: 0 auto;
    flex: 1;
    overflow-y: hidden;
}

@media screen and (min-width: 700px) {
    .scroll_handler {
        display: flex;
    }
}