.error_hide {
    display: none;
}
.story_navigation_container {
    height: calc(80vh - 56px);  
    width: clamp(300px, 90%, 900px);
    top: -18vh;
    right: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    transition: 0.3s ease all;
    pointer-events: none;
}
.story_navigation_container_inner {
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
flex-direction: column;
}
.navigation_item {
    height: 0px;
    position: relative;
    display: block;
    text-align: right;
    margin-right: 30px;
    transition: 0.3s all ease-out;
    flex: 0;
    opacity: 0;
}
.navigation_item::visited {
    text-decoration: none;
}
.navigation_item > label:hover {
    cursor: pointer;
}
.visible_route_button {
    opacity: 0;
    transition: 0.3s all ease-out;
}
.inactive_text {
    opacity: 0;
}
.active_story {
    opacity: 1;
    flex-basis: 0;
    flex-grow: 1;
    cursor: default;
}
.story_navigation_container_after {
    opacity: 0;
}

@media screen and (min-width: 700px) {
    .story_navigation_container {
        position: relative;
        width: 125%;
        top: calc(10vh + 56px);
        bottom: 10vh;
        left: unset;
        right: unset;
        transform: unset;
        pointer-events: all;
    }
    .navigation_item {
        font-weight: normal;
    }
    .active_story,
    .visible_route_button {
        flex-basis: 0;
        flex-grow: 1;
        opacity: 1;
    }
    .story_navigation_container_after {
        display: inline-block;
        height: calc(80vh - 56px);
        width: 5px;
        position: relative;
        right: calc(-50% + 2.5px);
        border-radius: 8px;
        opacity: 1;
    }
}
