.profile_cards_container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: clamp(310px, 90%, 800px);
    gap: 25px;
}

@media screen and (min-width: 700px) {
    .profile_cards_container {
        padding: 0;
        gap: 75px;
    }
}